@import url("theme.css");

:root {
  --block-bg-opacity: .5;
}

.wy-side-nav-search {
  background-color: #fff;
}

.getting-started {
  background-color: rgba(0, 102, 255, var(--block-bg-opacity));
}

.user-guides {
  background-color: rgba(153, 102, 255, var(--block-bg-opacity));
}

.developer-docs {
  background-color: rgba(223, 6, 21, var(--block-bg-opacity));
}

div.red-background pre {
  background-color: rgba(244, 204, 204, var(--block-bg-opacity));
}

div.green-background pre {
  background-color: rgba(204, 244, 204, var(--block-bg-opacity));
}